on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.2"
      - run: pip install uv
      - run: uv sync --group check --default-index https://pypi.org/simple --index https://download.pytorch.org/whl/cpu --index-strategy unsafe-best-match
      - run: uv run python scripts/check.py
